/* Reset básico para margens e preenchimentos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo da página */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9eff2;
}

/* Estilo do container principal */
.container {
    text-align: center;
    background: #bbdd93;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo do título */
h1 {
    color: #040002;
    margin-bottom: 30px;
}

/* Estilo do parágrafo do contador */
#contador {
    font-size: 3em;
    color: #1c8a36;
}
