body {
    font-family: Arial, sans-serif;
    background-color: #788fa3;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #b6bcc7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(145, 98, 98, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #255486;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #0056b3;
}

#resultados {
    font-size: 18px;
    text-align: center;
}
